<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
	<title>Insert title here</title>
</head>
<body>
<div>
	<a class="btn btn-large btn-success" href="/"
	   th:href="@{http://localhost:8082/tpmicroserviceBancaireFront}">Home</a> <br> <br>
	<form method="post" th:action="@{http://localhost:8082/tpmicroserviceBancaireFront/account/create}"
	      th:object="${createAccount}">
		<table border="1">
			<tr>
				<td><p>Enter name</p></td>
				<td><input th:field="*{nom}" type="text"/></td>
			</tr>
			<tr>
				<td><p>Enter Iban</p></td>
				<td><input th:field="*{iban}" type="text"/></td>
			</tr>
			<tr>
				<td><input type="submit" value="Submit"/></td>
			</tr>
		</table>
	</form>
	<span th:if="${is_created}"> Account created </span>
	<span th:unless="${is_created}"> Error creating account, please make sure your IBAN is valid </span>

</div>
</body>

</html>