<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>Insert title here</title>
</head>
<body>
<a class="btn btn-large btn-success" href="/"
   th:href="@{http://localhost:8082/tpmicroserviceBancaireFront}">Home</a> <br> <br>
<span th:text="${is_deleted}"> is Account Deleted ? </span>
<form method="post" th:action="@{http://localhost:8082/tpmicroserviceBancaireFront/account/delete}"
      th:object="${createAccount}">
	<table border="1">
		<tr>
			<td><p>Enter name</p></td>
			<td><input th:field="*{name}" type="text"/></td>
		</tr>
		<tr>
			<td><input type="submit" value="Submit"/></td>
		</tr>
	</table>
</form>

</body>
</html>