<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>TP Microservice Bancaire</title>
</head>
<body style="text-align: center; margin-top: 20px">
<a class="btn btn-large btn-success" href="/accounts"
   th:href="@{http://localhost:8082/tpmicroserviceBancaireFront/accounts}">Liste des comptes</a> <br> <br>
<a class="btn btn-large btn-success" href="/transactions"
   th:href="@{http://localhost:8082/tpmicroserviceBancaireFront/transactions}">Liste des transactions</a> <br> <br>
<a class="btn btn-large btn-success" href="/account/create"
   th:href="@{http://localhost:8082/tpmicroserviceBancaireFront/account/create}">Créer un compte</a> <br> <br>

</body>
</html>