<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
	<title>Insert title here</title>
</head>
<body>
<a class="btn btn-large btn-success" href="/"
   th:href="@{http://localhost:8082/tpmicroserviceBancaireFront}">Home</a> <br> <br>

<form method="post" th:action="@{http://localhost:8082/tpmicroserviceBancaireFront/transactions/generate100}">
	<button type="submit">Générer 100 transactions aléatoires</button>
</form>

<table>
	<thead>
	<tr>
		<th> Id Transaction</th>
	</tr>
	</thead>
	<tbody>
	<tr th:if="${transactions.empty}">
		<td colspan="2"> No Transactions Available</td>
	</tr>
	<tr th:each="transaction : ${transactions}">
		<td><span th:text="${transaction.id}"> Identifier </span></td>
	</tr>
	</tbody>
</table>

</body>
</html>